@model CoreAndFoodProject.Data.Models.UrunEkle
@{
    ViewData["Title"] = "AddFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Food Add Page</h2>
<br />
<form class="form-group" action="AddFood" asp-controller="Food" method="post" enctype="multipart/form-data">
    @Html.Label("Food Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Choose Image")
    @*@Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })*@
    <input type="file" name="ImageUrl" />
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    @*@Html.Label("Description")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })*@
    <br />

    <button class="btn btn-primary">Save</button>
</form>



